:root {
  color: #17233d;
  background: #f3f5f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100vh;
}

body {
  margin: 0;
}

button,
input,
select {
  font: inherit;
}
